@import url('https://fonts.googleapis.com/css?family=Raleway');

.button {
  margin-top: 20%;
  margin-left: 40%;
  font-weight: 800;
  background-color: #1e76ce;
  -moz-box-shadow:    inset 0 0 2px #000000;
  -webkit-box-shadow: inset 0 0 2px #000000;
  box-shadow:         inset 0 0 2px #000000;  
}

.btn-primary:hover {
  background-color: #4b7ad8;
}

.btn-success {
  font-weight: 800;
  margin: 0em 25%;
  padding: .6em 2em;
  background-color: #1e76ce;
  -moz-box-shadow:    inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:         inset 0 0 1px #000000;
  border: none;
}

.btn-success:hover, .btn-success:focus {
  background-color: #008cff;
}

.content {
  background-image: url('stars-3840x2160-galaxy-4k-6362.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.close-btn {
  font-size: 30px;
  float: right;
  margin: -1em -1em;
  cursor: pointer;
}

.close-btn:hover {
  transform: scale(1.15);
  transition: 0.1s;
  color: red;
}

.modal {
  width: 630px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number]:focus {
  border: 2px solid #1c7eff;
}